<h1>Eat-Da-Burger!</h1>

<h2>Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{!-- {{> burgers/burger-block devoured=true}} --}}
      <h5>{{burger_name}}</h5>
      <button type="button" class="btn btn-primary change-devoured" data-id={{id}}>Devour it!</button>
      
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
    <h5>{{burger_name}}</h5>
      {{!-- {{> burgers/burger-block devoured=false}} --}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">
  <div class="form-group">
    <label for="burger-name">Burger Name:</label>
    <input type="text" id="burger-name" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
