/* body {
    background-color: white;
    background-image: url('../img/big-tasty-home-made-burger-background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    color:whitesmoke;
} */

body {
    background: url('../img/big-tasty-home-made-burger-background.webp') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    color:whitesmoke;
}

h1,h5,p {
    font-family: 'Stylish';
    line-height: 35px;  
    margin: 0;
    padding: 10px;  
}

.btn{
    background-color:darkgreen;
    border: solid 1px darkgreen;
    color: whitesmoke;
    height: 35px;
}